body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 40px 0px 40px;
    border-bottom: 5px solid black;
}

.header-title {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
}

.rosa-img img{
    max-width: 180px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

ul li{
    margin: 10px;
    font-size: 18px;
}

ul li a{
text-decoration: none;
color :black
}

.main-footer{
    border-top: 5px solid black;
    margin-top: 25px;
    margin-bottom: 0;
    padding: 13px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container-footer img{
    max-width: 80px;
}

.copyrights{
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
}

.wraper-body{
    padding: 20px 40px;
}