@media screen and (max-width: 780px) {
    body{
        min-width: 410px;
    }
    .header-box {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .header-title {
        margin-top: 8px;
        justify-content: center;
    }

    nav ul {
        gap: 5px
    }

    .home-img{
        max-width: 360px;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .article-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .article-text{
        margin-top: 8px;
        text-align: justify;
        min-width: 380px;
    }

    .border{
        margin-top: 5px;
    }
}