@media screen and (max-width: 780px) {
    .header-box{
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .header-title{
        margin-top: 8px;
        justify-content: center;
    }

    nav ul{
        gap: 5px
    }
  }