.article-container {
    font-size: 20px;

}

.article-container h1 {
    margin: 40px 0;
    

}

.img-article-container img {
    max-width: 350px;

}

.img-article-container {
    float: left;
    margin-right: 10px;
}

.article-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    /* number of lines to show */
    line-clamp: 11;
    -webkit-box-orient: vertical;


}

.article-container span {
    margin-top: 20px;
    float: right;
}

.see-more-btn {

    font-style: normal;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.border {
    margin-top: 75px;
    height: 2px;
    border-bottom: 2px solid black;
}