body{
    margin: 20px 100px;
}

.article-container{
    font-size: 20px;
}

.img-article-container img{
    max-width: 250px;
    border: 2px solid black;
}

.img-article-container{
    
    float: left;
    margin-right: 10px;
}

p{
    margin: 0;
}

span{
    float: right;
}