@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}








main {
    margin: 0 4em;
    border-radius: 15px;
    padding: 2em;
}

div.container {
    display: block;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
















span {
    font-weight: bolder;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}






form label {
    background: #c0c0c0;
    color: rgb(2, 2, 2);
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

input.difficulty {
    width: 20%;
}


input[type=submit] {
    background-color: #adadad;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 50%;
    margin: 5px 5px 5px 25%;
    color: rgb(5, 5, 5);
    text-transform: uppercase;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #718F94;
    cursor: pointer;
}

div.form {
    border-radius: 5px;
    padding: 20px;
    width: 36%;
    margin: auto;
}

span.error {
    animation: fadeOut 1s forwards;
    animation-delay: 2s;
    background: #EF5542;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: normal;
    position: relative;
    float: right;
    margin-top: 20px;
    overflow: hidden;
    display: block;
}



footer {
    background: #607588;
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 20px;
}

/*Animations & Transitions
*/

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}