<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/trips.css">
    <link rel="stylesheet" href="/css/details.css">
    <title>Пътниче.</title>
</head>

<body>
    <header class="header-box">
        <section class="header-title">
            <a id="main-title" href="/"><h1>ПЪТНИЧЕ.</h1></a>
        </section>
        <span class="rosa-img"><img src="https://www.logogenie.net/download/preview/medium/9144552" alt="rosa"></span>

        <nav class="main-navigation">
            <ul>
                <li><a href="/">Начало</a></li>
                <li><a href="/trips">Места</a></li>
                {{#if isLoged}}
                <li><a href="/create">Добави място</a></li>
                <li><a href="/logout">Изход</a></li>
                {{else}}
                <li><a href="/register">Регистрация</a></li>
                <li><a href="/login">Вход</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <div class="wraper-body">
        {{{body}}}
    </div>
    <footer class="main-footer">
        <section class="footer-content">
            <ul>
                <li><a target="_blank" href="https://github.com/lakrizz1987"><i class="fa-brands fa-github"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/ivaylo-ignatov-0a2a35213/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://www.facebook.com/ivayloi"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </section>

        <section class="img-container-footer">
            <img src="https://seeklogo.com/images/B/Bulgaria-logo-84077D9CE1-seeklogo.com.jpg" alt="bg">
        </section>
    </footer>
    <div class="copyrights">2022 - Ignatov LTD - All Rights Reserved.</div>
</body>

</html>