<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Пътниче.</title>
</head>

<body>
    <header class="header-box">
        <section class="header-title">
            <h1>ПЪТНИЧЕ.</h1>
        </section>
        <span class="rosa-img"><img src="https://www.logogenie.net/download/preview/medium/9144552" alt="rosa"></span>

        <nav class="main-navigation">
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Menu</a></li>

            </ul>
        </nav>
    </header>
    <div class="wraper-body">
        {{{body}}}
    </div>
    <footer class="main-footer">
        <section class="footer-content">
            <ul>
                <li><a href="#">За мен</a></li>
                <li><a href="#">За мен</a></li>
                <li><a href="#">За мен</a></li>
                <li><a href="#">За мен</a></li>
            </ul>
        </section>

        <section class="img-container-footer">
            <img src="https://seeklogo.com/images/B/Bulgaria-logo-84077D9CE1-seeklogo.com.jpg" alt="bg">
        </section>
    </footer>
    <div class="copyrights">2022 - Ignatov LTD - All Rights Reserved.</div>
</body>

</html>