<main class="main-container">
    <section class="container-404">
        <h1 class="heding-404">Страницата не бе намерена,опитай отново!!!</h1>
        <img id="sadFaceImg" src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png" alt="sad face" />
    </section>
</main>