<main>
  <h1 class="login-reg-title">Добави място</h1>
  <div class="form">
    <form action='/create' method="POST">
      <label for="name">Име</label>
      <input type="text" id="name" name="name">
      <label for="name">Описание</label>
      <textarea id="name" name="description"></textarea>
      <label for="image">Снмка</label>
      <input type="text" id="image" name="imageUrl">
      <label for="difficulty">Категория</label>
      <select id="category" name="category">
        <option value="Море">Море</option>
        <option value="Планина">Планина</option>
        <option value="Град">Град</option>
        <option value="Село">Село</option>
      </select>
      <input type="submit" value="ДОБАВИ">
    </form>
  </div>
</main>