<section class="home-container">
    <div>
    <img class="home-img" src="https://media.istockphoto.com/id/1369291292/photo/veliko-tarnovo-bulgaria-tsarevets-old-town-in-historical-city.jpg?b=1&s=170667a&w=0&k=20&c=ARWTl91RU94I_6Mw9Z4q23QuP5DqQML2-bGJR90pkcU=" alt="photo">
    </div>
    <p class="home-text">Здравейте, приятели! Това е място, където може да намерите или добавите места за туризъм в България!</p>
</section>