<main>
    {{#if error}}
    <div class="error-div">{{error.message}}</div>
    {{/if}}
    <h1 class="login-reg-title">Вход</h1>
    
    <div class="form">
        <form action='/login' method="POST">
            <label for="username">Потребител</label>
            <input type="text" id="username" name="username">

            <label for="password">Парола</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="ВХОД">
        </form>
    </div>
    
</main>