<main>
    <form class="search-form" action="/search" method="">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="submit" value="Търси">
    </form>

    <section class="article-container">

        <div class="img-article-container">
            <img src="https://i.pinimg.com/736x/3a/c4/a7/3ac4a7769a545b8d5cbb41abbee24675.jpg" alt="img">
        </div>

        <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id modi quis exercitationem
            eligendi ipsum deserunt possimus praesentium atque similique vitae ex quia repellat enim, fugiat quisquam
            facere tenetur provident neque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id modi quis
            exercitationem
            eligendi ipsum deserunt possimus praesentium atque similique vitae ex quia repellat enim, fugiat quisquam
            facere tenetur provident neque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id modi quis
            exercitationem
            eligendi ipsum deserunt possimus praesentium atque similique vitae ex quia repellat enim, fugiat quisquam
            facere tenetur provident neque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id modi quis
            exercitationem
            eligendi ipsum deserunt possimus praesentium atque similique vitae ex quia repellat enim, fugiat quisquam
            facere tenetur provident neque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id modi quis
            exercitationem
            eligendi ipsum deserunt possimus praesentium atque similique vitae ex quia repellat enim, fugiat quisquam
            facere tenetur provident neque.

    </section>
    <span><a href="/details/11111" class="see-more-btn">ВИЖ ОЩЕ...</a></span></p>
</main>