<main>
    <form class="search-form" action="/search" method="">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="submit" value="Търси">
    </form>

    {{#each trips}}
    <section class="article-container">
        <h1>{{name}}</h1>
        <div class="img-article-container">
            <img src="{{imageUrl}}" alt="img">
        </div>
        <p class="article-text">{{description}}</p>
        <span><a href="/details/{{_id}}" class="see-more-btn">ВИЖ ОЩЕ...</a></span></p>
    </section>
    <div class="border"></div>
    {{/each}}

</main>